@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.container-fluid {
    margin: 0;
    padding: 0;
    background-color: #daac00;
    border-radius: none;
    margin-top: -4px;
    height: 120px;
}
.span-color {
    font-family: 'Poppins', sans-serif;
    font-size: 29.2px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin-left: 20px;
}
.search-color {
    font-family: 'Poppins', sans-serif;
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.navbar-brand {
    margin-left: 140px;
    height: 60px;
}
.btn {
    margin-right: 140px;
    background-color: #00bec9;
    height: 50px;
}
.nav-icon {
    background-color: #00bec9;
}
.form-control {
    background-color: #fcc302;
}
.block {
    background-color: #fcc302;
    height: 780px;
}
.first-dog {
    background-color: #fcc302;
    width: 420px;
    height: 600px;
    transform:rotateY(180deg);
    position: absolute;
    top: 210px;
    right: 140px;
}
.first-block-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 66.7px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    width: 650px;
    height: 140px;
    margin-top: 192px;
    margin-left: 140px;
    margin-right: 97px;
}
.first-block-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 29.2px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    width: 660px;
    height: 100px;
    margin-left: 140px;
    margin-top: 49px;
}

.first-block-button-contact-text, .first-block-button-service-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.first-block-button-contact {
    width: 182px;
    height: 69px;
    background-color: #00bec9;
    border-radius: 7px;
    margin-left: 140px;
    margin-top: 50px;
}
.first-block-button-service {
    width: 182px;
    height: 69px;
    border: 3px solid #ffffff;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: -90px;
    background-color: #fcc302;
}

